/* line 1, ../../_sass/utils/_reset.sass */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

/* line 9, ../../_sass/utils/_reset.sass */
a {
  text-decoration: none;
  color: #2b3a48;
}

/* line 13, ../../_sass/utils/_reset.sass */
h1 {
  font-weight: normal;
}

/* line 1, ../../_sass/utils/_typography.sass */
body {
  font-family: "open-sans";
  font-size: 20px;
}
@media all and (max-width: 680px) {
  /* line 1, ../../_sass/utils/_typography.sass */
  body {
    font-size: 14px;
  }
}

/* line 7, ../../_sass/utils/_typography.sass */
.main-title {
  font-size: 2.5em;
  font-family: "chaparral-pro";
  color: #cb5757;
  font-weight: bold;
}
@media all and (max-width: 680px) {
  /* line 7, ../../_sass/utils/_typography.sass */
  .main-title {
    font-size: 1.8em;
  }
}

/* line 15, ../../_sass/utils/_typography.sass */
.main-subtitle {
  font-size: 1.5em;
  color: #2b3a48;
  text-align: center;
}
@media all and (max-width: 680px) {
  /* line 15, ../../_sass/utils/_typography.sass */
  .main-subtitle {
    display: none;
  }
}

/* line 22, ../../_sass/utils/_typography.sass */
.section-title {
  font-size: 1.8em;
  font-family: "chaparral-pro";
  color: #2b3a48;
  max-width: 60%;
  margin: auto;
}
@media all and (min-width: 680px) {
  /* line 22, ../../_sass/utils/_typography.sass */
  .section-title {
    max-width: 450px;
  }
}

/* line 31, ../../_sass/utils/_typography.sass */
.small-title {
  font-size: 1.5em;
  font-family: "chaparral-pro";
  color: #2b3a48;
  margin: auto;
}

/* line 37, ../../_sass/utils/_typography.sass */
.footer-title {
  font-size: 1.2em;
  font-family: "chaparral-pro";
  color: #2b3a48;
}

/* line 42, ../../_sass/utils/_typography.sass */
.speaker-name {
  font-family: "chaparral-pro";
  font-weight: normal;
  font-size: 30px;
}

/* line 47, ../../_sass/utils/_typography.sass */
.speaker-twitter {
  font-family: "chaparral-pro";
  color: #33ccff;
  font-size: 22px;
}

/* line 52, ../../_sass/utils/_typography.sass */
.twitter-link {
  color: #33ccff;
}
/* line 54, ../../_sass/utils/_typography.sass */
.twitter-link:hover {
  text-decoration: underline;
}

/* line 30, ../../_sass/elements/_ribbon.sass */
.ribbon-container {
  position: relative;
  height: 1.9em;
  line-height: 1.9em;
  margin: 0 auto;
  width: 100%;
}
/* line 46, ../../_sass/elements/_ribbon.sass */
.ribbon-container .ribbon {
  background-color: white;
  text-align: center;
  position: absolute;
  z-index: 1;
  width: 100%;
}
/* line 53, ../../_sass/elements/_ribbon.sass */
.ribbon-container .ribbon-corner {
  position: absolute;
  width: 50px;
  top: 15px;
  box-sizing: content-box;
  z-index: 0;
}
/* line 59, ../../_sass/elements/_ribbon.sass */
.ribbon-container .ribbon-corner.bottom {
  border-bottom: 1.9em solid #e6e6e6;
}
/* line 61, ../../_sass/elements/_ribbon.sass */
.ribbon-container .ribbon-corner.top {
  border-top: 1.9em solid #e6e6e6;
}
/* line 63, ../../_sass/elements/_ribbon.sass */
.ribbon-container .ribbon-corner.left {
  border-left: 40px solid transparent;
  left: 0;
  margin-left: -50px;
}
/* line 67, ../../_sass/elements/_ribbon.sass */
.ribbon-container .ribbon-corner.right {
  border-right: 40px solid transparent;
  right: 0;
  margin-right: -50px;
}
/* line 72, ../../_sass/elements/_ribbon.sass */
.ribbon-container .ribbon-shadow {
  position: absolute;
  bottom: 0;
  border-top: 15px solid #cccccc;
  margin-bottom: -15px;
}
/* line 77, ../../_sass/elements/_ribbon.sass */
.ribbon-container .ribbon-shadow.left {
  border-left: 40px solid transparent;
  left: 0;
}
/* line 80, ../../_sass/elements/_ribbon.sass */
.ribbon-container .ribbon-shadow.right {
  border-right: 40px solid transparent;
  right: 0;
}

/* line 11, ../../_sass/elements/_gradient.sass */
.gradient.red-to-white {
  width: 100%;
  line-height: 40px;
  min-height: 40px;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.red-to-white .gradient-line-0 {
  background-color: #ab2b2b;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.red-to-white .gradient-line-1 {
  background-color: #c06060;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.red-to-white .gradient-line-2 {
  background-color: #d59595;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.red-to-white .gradient-line-3 {
  background-color: #eacaca;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.red-to-white .gradient-line-4 {
  background-color: white;
}
/* line 13, ../../_sass/elements/_gradient.sass */
.gradient.red-to-dark {
  width: 100%;
  line-height: 40px;
  min-height: 40px;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.red-to-dark .gradient-line-0 {
  background-color: #ab2b2b;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.red-to-dark .gradient-line-1 {
  background-color: #8b2e32;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.red-to-dark .gradient-line-2 {
  background-color: #6b3239;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.red-to-dark .gradient-line-3 {
  background-color: #4b3640;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.red-to-dark .gradient-line-4 {
  background-color: #2b3a48;
}
/* line 15, ../../_sass/elements/_gradient.sass */
.gradient.white-to-dark {
  width: 100%;
  line-height: 40px;
  min-height: 40px;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.white-to-dark .gradient-line-0 {
  background-color: white;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.white-to-dark .gradient-line-1 {
  background-color: #cacdd1;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.white-to-dark .gradient-line-2 {
  background-color: #959ca3;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.white-to-dark .gradient-line-3 {
  background-color: #606b75;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.white-to-dark .gradient-line-4 {
  background-color: #2b3a48;
}
/* line 17, ../../_sass/elements/_gradient.sass */
.gradient.dark-to-white {
  width: 100%;
  line-height: 40px;
  min-height: 40px;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.dark-to-white .gradient-line-0 {
  background-color: #2b3a48;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.dark-to-white .gradient-line-1 {
  background-color: #606b75;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.dark-to-white .gradient-line-2 {
  background-color: #959ca3;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.dark-to-white .gradient-line-3 {
  background-color: #cacdd1;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.dark-to-white .gradient-line-4 {
  background-color: white;
}
/* line 19, ../../_sass/elements/_gradient.sass */
.gradient.white-to-yellow {
  width: 100%;
  line-height: 40px;
  min-height: 40px;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.white-to-yellow .gradient-line-0 {
  background-color: white;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.white-to-yellow .gradient-line-1 {
  background-color: #fff9e3;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.white-to-yellow .gradient-line-2 {
  background-color: #fff3c7;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.white-to-yellow .gradient-line-3 {
  background-color: #ffedab;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.white-to-yellow .gradient-line-4 {
  background-color: #ffe88f;
}
/* line 21, ../../_sass/elements/_gradient.sass */
.gradient.yellow-to-white {
  width: 100%;
  line-height: 40px;
  min-height: 40px;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.yellow-to-white .gradient-line-0 {
  background-color: #ffe88f;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.yellow-to-white .gradient-line-1 {
  background-color: #ffedab;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.yellow-to-white .gradient-line-2 {
  background-color: #fff3c7;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.yellow-to-white .gradient-line-3 {
  background-color: #fff9e3;
}
/* line 7, ../../_sass/elements/_gradient.sass */
.gradient.yellow-to-white .gradient-line-4 {
  background-color: white;
}

/* line 14, ../../_sass/elements/_alpha-gradient.sass */
.alpha-gradient {
  width: 100%;
  line-height: 40px;
  min-height: 40px;
}
/* line 8, ../../_sass/elements/_alpha-gradient.sass */
.alpha-gradient.down .gradient-line-0 {
  background-color: white;
}
/* line 11, ../../_sass/elements/_alpha-gradient.sass */
.alpha-gradient.up .gradient-line-0 {
  background-color: rgba(255, 255, 255, 0);
}
/* line 8, ../../_sass/elements/_alpha-gradient.sass */
.alpha-gradient.down .gradient-line-1 {
  background-color: rgba(255, 255, 255, 0.75);
}
/* line 11, ../../_sass/elements/_alpha-gradient.sass */
.alpha-gradient.up .gradient-line-1 {
  background-color: rgba(255, 255, 255, 0.25);
}
/* line 8, ../../_sass/elements/_alpha-gradient.sass */
.alpha-gradient.down .gradient-line-2 {
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 11, ../../_sass/elements/_alpha-gradient.sass */
.alpha-gradient.up .gradient-line-2 {
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 8, ../../_sass/elements/_alpha-gradient.sass */
.alpha-gradient.down .gradient-line-3 {
  background-color: rgba(255, 255, 255, 0.25);
}
/* line 11, ../../_sass/elements/_alpha-gradient.sass */
.alpha-gradient.up .gradient-line-3 {
  background-color: rgba(255, 255, 255, 0.75);
}

/* line 2, ../../_sass/elements/_speaker.sass */
.speaker .speaker-picture-container {
  background-image: url(../images/speaker-picture-frame.svg);
  background-size: 100% 100%;
  padding: 40px;
}
/* line 7, ../../_sass/elements/_speaker.sass */
.speaker .speaker-picture {
  width: 250px;
}
/* line 9, ../../_sass/elements/_speaker.sass */
.speaker .speaker-picture:not([src*='knight.png']) {
  height: 250px;
}
/* line 11, ../../_sass/elements/_speaker.sass */
.speaker .speaker-picture[src*='knight.png'] {
  padding-top: 25px;
  background-color: white;
}
/* line 16, ../../_sass/elements/_speaker.sass */
.speaker .speaker-name-frame {
  width: 300px;
  height: 120px;
  margin: auto;
  margin-top: 1rem;
  text-align: center;
  background-image: url(../images/speaker-name-frame.svg);
  background-size: 100% 100%;
  padding: 2rem 1rem;
}
/* line 26, ../../_sass/elements/_speaker.sass */
.speaker .speaker-name,
.speaker .speaker-twitter {
  line-height: 30px;
}

/* line 1, ../../_sass/elements/_square.sass */
.dark-square {
  display: inline-block;
  background-color: #2b3a48;
  padding: 0.4em;
  color: white;
  font-size: 1em;
}

/* line 1, ../../_sass/elements/_button.sass */
.red-button, .blue-button, .transparent-button {
  display: inline-block;
  padding: 0.6em 0.8em;
  transition: all 200ms linear;
}
/* line 5, ../../_sass/elements/_button.sass */
.red-button:hover, .blue-button:hover, .transparent-button:hover {
  border-radius: 10px;
}

/* line 8, ../../_sass/elements/_button.sass */
.red-button {
  color: white;
  background-color: #cb5757;
  border: solid 2px #cb5757;
}
/* line 13, ../../_sass/elements/_button.sass */
.red-button:hover {
  background-color: #ab2b2b;
  border-color: #ab2b2b;
}

/* line 17, ../../_sass/elements/_button.sass */
.blue-button {
  border: solid 2px #2b3a48;
}

/* line 21, ../../_sass/elements/_button.sass */
.transparent-button {
  border: solid 2px white;
  color: white;
}

/* line 2, ../../_sass/elements/_cta.sass */
.cta .red-button {
  margin-top: 1rem;
}

/* line 1, ../../_sass/elements/_newsletter_form.sass */
.newsletter-form {
  width: 100%;
}
/* line 11, ../../_sass/elements/_newsletter_form.sass */
.newsletter-form .newsletter-email,
.newsletter-form .newsletter-submit {
  height: 40px;
  border: 0;
  padding: 0;
  vertical-align: middle;
}
/* line 18, ../../_sass/elements/_newsletter_form.sass */
.newsletter-form .newsletter-email {
  width: calc(100% - 40px - 5px - 5px);
  padding-left: 5px;
  border: solid 1px #2b3a48;
}
/* line 23, ../../_sass/elements/_newsletter_form.sass */
.newsletter-form .newsletter-submit {
  display: inline-block;
  line-height: 40px;
  width: 40px;
  background-color: #2b3a48;
  color: white;
  text-align: center;
  position: relative;
}
/* line 31, ../../_sass/elements/_newsletter_form.sass */
.newsletter-form .newsletter-submit:before {
  content: "\2192";
}
/* line 34, ../../_sass/elements/_newsletter_form.sass */
.newsletter-form .newsletter-real-submit {
  position: absolute;
  display: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

/* line 1, ../../_sass/elements/_ticket.sass */
.ticket {
  width: 300px;
  height: 160px;
  display: table-cell;
  vertical-align: middle;
}
/* line 6, ../../_sass/elements/_ticket.sass */
.ticket .batch-name,
.ticket .price {
  font-family: "chaparral-pro";
}
/* line 10, ../../_sass/elements/_ticket.sass */
.ticket .batch-name {
  font-size: 1.5em;
}
/* line 13, ../../_sass/elements/_ticket.sass */
.ticket .price {
  font-size: 2em;
  font-weight: bold;
}
/* line 17, ../../_sass/elements/_ticket.sass */
.ticket .date {
  font-size: 0.8em;
  font-style: italic;
}
/* line 21, ../../_sass/elements/_ticket.sass */
.ticket.present {
  background-image: url("../images/blue-ticket.svg");
  color: white;
}
/* line 24, ../../_sass/elements/_ticket.sass */
.ticket.present .price {
  color: #ffda4d;
}
/* line 27, ../../_sass/elements/_ticket.sass */
.ticket.future {
  background-image: url("../images/grey-ticket.svg");
  color: #cccccc;
}
/* line 30, ../../_sass/elements/_ticket.sass */
.ticket.future .price {
  color: #bdc9d4;
}

/* line 35, ../../_sass/elements/_ticket.sass */
.ticket-button.future, .ticket-button.past {
  display: none;
}

/* line 1, ../../_sass/sections/_base.sass */
.speakers {
  background-color: white;
}
/* line 2, ../../_sass/elements/_ribbon.sass */
.speakers .ribbon-container {
  width: 100%;
}
/* line 4, ../../_sass/elements/_ribbon.sass */
.speakers .ribbon {
  background-color: #cb5757;
  color: white;
}
/* line 8, ../../_sass/elements/_ribbon.sass */
.speakers .ribbon-corner.top {
  border-top-color: #bb4141;
}
/* line 10, ../../_sass/elements/_ribbon.sass */
.speakers .ribbon-corner.bottom {
  border-bottom-color: #bb4141;
}
/* line 12, ../../_sass/elements/_ribbon.sass */
.speakers .ribbon-shadow {
  border-top-color: #ab2b2b;
}

/* line 5, ../../_sass/sections/_base.sass */
.venue, .section.sponsors {
  background-color: #2b3a48;
  color: white;
}
/* line 2, ../../_sass/elements/_ribbon.sass */
.venue .ribbon-container, .section.sponsors .ribbon-container {
  width: 100%;
}
/* line 4, ../../_sass/elements/_ribbon.sass */
.venue .ribbon, .section.sponsors .ribbon {
  background-color: white;
  color: #2b3a48;
}
/* line 8, ../../_sass/elements/_ribbon.sass */
.venue .ribbon-corner.top, .section.sponsors .ribbon-corner.top {
  border-top-color: #e2e2e2;
}
/* line 10, ../../_sass/elements/_ribbon.sass */
.venue .ribbon-corner.bottom, .section.sponsors .ribbon-corner.bottom {
  border-bottom-color: #e2e2e2;
}
/* line 12, ../../_sass/elements/_ribbon.sass */
.venue .ribbon-shadow, .section.sponsors .ribbon-shadow {
  border-top-color: #cccccc;
}

/* line 18, ../../_sass/sections/_base.sass */
.section {
  padding-top: 3em;
  padding-bottom: 3em;
  text-align: center;
}
/* line 23, ../../_sass/sections/_base.sass */
.section .ribbon-container {
  margin-bottom: 5rem;
}
/* line 26, ../../_sass/sections/_base.sass */
.section .small-title {
  margin-bottom: 1rem;
}

/* line 1, ../../_sass/sections/_nav.sass */
.nav {
  font-size: 0.8em;
  background-color: white;
  width: 100%;
}
/* line 6, ../../_sass/sections/_nav.sass */
.nav .left-nav,
.nav .right-nav {
  display: inline-block;
  width: 47%;
  vertical-align: middle;
}
/* line 12, ../../_sass/sections/_nav.sass */
.nav .left-nav {
  margin-left: 2%;
}
/* line 15, ../../_sass/sections/_nav.sass */
.nav .right-nav {
  text-align: right;
}
/* line 17, ../../_sass/sections/_nav.sass */
.nav .right-nav .red-button {
  margin-right: 1rem;
}
/* line 20, ../../_sass/sections/_nav.sass */
.nav .logo,
.nav .nav-action {
  max-width: 200px;
  vertical-align: middle;
}
/* line 25, ../../_sass/sections/_nav.sass */
.nav .logo {
  padding: 1em 0;
}
@media all and (max-width: 680px) {
  /* line 29, ../../_sass/sections/_nav.sass */
  .nav .left-nav {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  /* line 33, ../../_sass/sections/_nav.sass */
  .nav .right-nav {
    display: none;
  }
}

/* line 1, ../../_sass/sections/_scene.sass */
.scene {
  position: relative;
  width: 100%;
  padding-bottom: 85%;
  overflow: hidden;
}
/* line 7, ../../_sass/sections/_scene.sass */
.scene .layers,
.scene .overlay {
  position: absolute;
  text-align: center;
}
/* line 12, ../../_sass/sections/_scene.sass */
.scene .layers {
  width: 112%;
  margin-left: -6%;
  margin-top: -3%;
  height: 106%;
}
/* line 18, ../../_sass/sections/_scene.sass */
.scene .overlay {
  width: 100%;
  padding-top: 8%;
}
/* line 21, ../../_sass/sections/_scene.sass */
.scene .overlay .main-title,
.scene .overlay .subtitle {
  width: 100%;
  text-align: center;
}
/* line 25, ../../_sass/sections/_scene.sass */
.scene .overlay .date {
  margin-top: 1em;
}
/* line 28, ../../_sass/sections/_scene.sass */
.scene .layers {
  z-index: -1;
}
/* line 31, ../../_sass/sections/_scene.sass */
.scene .layer {
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}
/* line 36, ../../_sass/sections/_scene.sass */
.scene .layer.background {
  background-color: #ab2b2b;
}
/* line 39, ../../_sass/sections/_scene.sass */
.scene .layer.sky {
  background-image: url(../images/sky.svg);
  background-position: center top;
}
/* line 43, ../../_sass/sections/_scene.sass */
.scene .layer.clouds {
  background-image: url(../images/clouds.svg);
  background-position: center 10%;
}
/* line 47, ../../_sass/sections/_scene.sass */
.scene .layer.mountains {
  background-image: url(../images/mountains.svg);
  background-position: center 55%;
}
/* line 51, ../../_sass/sections/_scene.sass */
.scene .layer.foreground {
  background-image: url(../images/foreground.svg);
  background-position: center 90%;
}
/* line 55, ../../_sass/sections/_scene.sass */
.scene .layer.knight {
  background-image: url(../images/knight.svg);
  background-size: 15%;
  background-position: center 90%;
}

/* line 4, ../../_sass/sections/_speakers.sass */
.speakers .speaker-list {
  margin-bottom: 3rem;
}
/* line 7, ../../_sass/sections/_speakers.sass */
.speakers .speaker {
  display: inline-block;
  vertical-align: top;
  margin: 2rem;
  margin-bottom: 5rem;
}
/* line 15, ../../_sass/sections/_speakers.sass */
.speakers .speaker.you .speaker-name, .speakers .speaker.placeholder .speaker-name {
  line-height: 55px;
}
@media all and (max-width: 680px) {
  /* line 19, ../../_sass/sections/_speakers.sass */
  .speakers .speaker {
    margin: 0;
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -o-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
}

/* line 1, ../../_sass/sections/_venue.sass */
.venue {
  background-size: cover;
  background-position: center;
  padding-bottom: 45%;
  min-height: 1000px;
  position: relative;
}
/* line 2, ../../_sass/elements/_ribbon.sass */
.venue .ribbon-container {
  width: 100%;
}
/* line 4, ../../_sass/elements/_ribbon.sass */
.venue .ribbon {
  background-color: white;
  color: #ab2b2b;
}
/* line 8, ../../_sass/elements/_ribbon.sass */
.venue .ribbon-corner.top {
  border-top-color: #e2e2e2;
}
/* line 10, ../../_sass/elements/_ribbon.sass */
.venue .ribbon-corner.bottom {
  border-bottom-color: #e2e2e2;
}
/* line 12, ../../_sass/elements/_ribbon.sass */
.venue .ribbon-shadow {
  border-top-color: #cccccc;
}
@media all and (max-width: 680px) {
  /* line 1, ../../_sass/sections/_venue.sass */
  .venue {
    background-image: url("../images/venue/background-small.jpeg");
  }
}
@media all and (min-width: 680px) {
  /* line 1, ../../_sass/sections/_venue.sass */
  .venue {
    background-image: url("../images/venue/background.jpeg");
  }
}
/* line 17, ../../_sass/sections/_venue.sass */
.venue .alpha-gradient {
  position: absolute;
}
/* line 19, ../../_sass/sections/_venue.sass */
.venue .alpha-gradient.down {
  top: 0;
}
/* line 22, ../../_sass/sections/_venue.sass */
.venue .alpha-gradient.up {
  bottom: 0;
}
/* line 25, ../../_sass/sections/_venue.sass */
.venue .abs-content {
  width: 80%;
  margin-left: 10%;
  position: absolute;
  padding-top: 160px;
  padding-bottom: 160px;
}
/* line 32, ../../_sass/sections/_venue.sass */
.venue .venue-name {
  max-width: 60%;
  font-family: "chaparral-pro";
  margin: auto;
  margin-top: 4em;
  font-size: 2em;
  padding: 0.2em;
  border-top: solid 1px #ffe88f;
  border-bottom: solid 1px #ffe88f;
}
@media all and (max-width: 680px) {
  /* line 32, ../../_sass/sections/_venue.sass */
  .venue .venue-name {
    margin-top: 2em;
  }
}
/* line 44, ../../_sass/sections/_venue.sass */
.venue .venue-features {
  font-size: 1.5em;
  list-style-type: none;
  vertical-align: middle;
  line-height: 2em;
  width: 100%;
}
/* line 50, ../../_sass/sections/_venue.sass */
.venue .venue-features .feature {
  display: inline-block;
}
/* line 52, ../../_sass/sections/_venue.sass */
.venue .venue-features .feature + .feature:before {
  content: "\2022";
  padding: 1em;
}
@media all and (max-width: 1340px) {
  /* line 44, ../../_sass/sections/_venue.sass */
  .venue .venue-features {
    font-size: 1em;
  }
}
/* line 58, ../../_sass/sections/_venue.sass */
.venue .venue-photos {
  margin-top: 4em;
}
/* line 60, ../../_sass/sections/_venue.sass */
.venue .venue-photos .photo {
  display: inline-block;
  margin: 0.5em;
}
/* line 63, ../../_sass/sections/_venue.sass */
.venue .venue-photos .photo img {
  border: solid 1px #ffe88f;
  width: 300px;
  height: 200px;
}
@media all and (max-width: 1340px) {
  /* line 58, ../../_sass/sections/_venue.sass */
  .venue .venue-photos {
    display: none;
  }
}

/* line 2, ../../_sass/elements/_ribbon.sass */
.section.tickets .ribbon-container {
  width: 100%;
}
/* line 4, ../../_sass/elements/_ribbon.sass */
.section.tickets .ribbon {
  background-color: #ffe88f;
  color: #2b3a48;
}
/* line 8, ../../_sass/elements/_ribbon.sass */
.section.tickets .ribbon-corner.top {
  border-top-color: #e0be3d;
}
/* line 10, ../../_sass/elements/_ribbon.sass */
.section.tickets .ribbon-corner.bottom {
  border-bottom-color: #e0be3d;
}
/* line 12, ../../_sass/elements/_ribbon.sass */
.section.tickets .ribbon-shadow {
  border-top-color: #ffda4d;
}
/* line 4, ../../_sass/sections/_tickets.sass */
.section.tickets .ticket-batches .batch {
  display: inline-block;
  vertical-align: top;
  margin: 3rem;
}
/* line 9, ../../_sass/sections/_tickets.sass */
.section.tickets .ticket {
  margin-bottom: 2rem;
}
/* line 12, ../../_sass/sections/_tickets.sass */
.section.tickets .ticket-button {
  margin-top: 2rem;
  min-width: 60%;
}

/* line 2, ../../_sass/elements/_ribbon.sass */
.blog .ribbon-container {
  width: 100%;
}
/* line 4, ../../_sass/elements/_ribbon.sass */
.blog .ribbon {
  background-color: #384c5e;
  color: white;
}
/* line 8, ../../_sass/elements/_ribbon.sass */
.blog .ribbon-corner.top {
  border-top-color: #2b3a48;
}
/* line 10, ../../_sass/elements/_ribbon.sass */
.blog .ribbon-corner.bottom {
  border-bottom-color: #2b3a48;
}
/* line 12, ../../_sass/elements/_ribbon.sass */
.blog .ribbon-shadow {
  border-top-color: #03070b;
}

/* line 5, ../../_sass/sections/_sponsoring.sass */
.section.sponsors .sponsor-info li {
  display: inline-block;
  position: relative;
  margin: 3em;
  text-align: left;
  font-family: "open-sans";
}
/* line 11, ../../_sass/sections/_sponsoring.sass */
.section.sponsors .sponsor-info li .top {
  position: absolute;
  top: 0px;
  font-style: italic;
}
/* line 15, ../../_sass/sections/_sponsoring.sass */
.section.sponsors .sponsor-info li .mid {
  font-size: 6em;
  color: #ffda4d;
  font-family: "chaparral-pro";
}
/* line 19, ../../_sass/sections/_sponsoring.sass */
.section.sponsors .sponsor-info li .bottom {
  vertical-align: top;
  position: absolute;
  left: 0;
  bottom: -20px;
  font-size: 1.5em;
  font-style: italic;
  height: 2em;
  font-weight: bold;
}
/* line 29, ../../_sass/sections/_sponsoring.sass */
.section.sponsors .sponsor-buttons {
  margin-top: 3em;
}
/* line 31, ../../_sass/sections/_sponsoring.sass */
.section.sponsors .sponsor-buttons li {
  display: inline-block;
  margin: 1em;
}

/* line 2, ../../_sass/sections/_newsletter.sass */
.section.newsletter .newsletter-form {
  max-width: 300px;
  margin: auto;
  margin-top: 1rem;
}
/* line 7, ../../_sass/sections/_newsletter.sass */
.section.newsletter .newsletter-real-submit {
  cursor: pointer;
}

/* line 2, ../../_sass/sections/_social.sass */
.section.social .rubyconf-social {
  margin: 1rem;
}

/* line 1, ../../_sass/sections/_footer.sass */
.section.footer {
  padding-top: 0;
  padding-bottom: 0.5em;
  margin-top: 4rem;
  background-color: #a5b3c0;
  text-align: left;
}
/* line 8, ../../_sass/sections/_footer.sass */
.section.footer .footer-logo {
  position: absolute;
  margin: auto;
  margin-left: calc(50% - 60px);
  margin-top: -60px;
  border-radius: 50%;
  width: 120px;
}
/* line 16, ../../_sass/sections/_footer.sass */
.section.footer .column {
  vertical-align: top;
  line-height: 2em;
  width: 40%;
  margin: auto;
  padding-top: 4em;
}
/* line 23, ../../_sass/sections/_footer.sass */
.section.footer .column {
  display: inline-block;
  width: 27%;
  min-width: 300px;
  margin-left: 6%;
}
@media all and (max-width: 680px) {
  /* line 31, ../../_sass/sections/_footer.sass */
  .section.footer .contact_us li {
    display: inline-block;
  }
  /* line 33, ../../_sass/sections/_footer.sass */
  .section.footer .optional-text {
    display: none;
  }
}
/* line 36, ../../_sass/sections/_footer.sass */
.section.footer .footer-list {
  list-style-type: none;
  font-size: 0.9em;
}
/* line 39, ../../_sass/sections/_footer.sass */
.section.footer .footer-list a {
  color: white;
  white-space: nowrap;
  text-decoration: none;
}
/* line 43, ../../_sass/sections/_footer.sass */
.section.footer .footer-list a:hover {
  text-decoration: underline;
}
/* line 45, ../../_sass/sections/_footer.sass */
.section.footer .footer-icon {
  height: 25px;
  vertical-align: middle;
  padding-right: 0.5em;
}
/* line 50, ../../_sass/sections/_footer.sass */
.section.footer .bottom {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.6em;
}

/* line 2, ../../_sass/elements/_ribbon.sass */
.section.code-of-conduct .ribbon-container {
  width: 100%;
}
/* line 4, ../../_sass/elements/_ribbon.sass */
.section.code-of-conduct .ribbon {
  background-color: #384c5e;
  color: white;
}
/* line 8, ../../_sass/elements/_ribbon.sass */
.section.code-of-conduct .ribbon-corner.top {
  border-top-color: #2b3a48;
}
/* line 10, ../../_sass/elements/_ribbon.sass */
.section.code-of-conduct .ribbon-corner.bottom {
  border-bottom-color: #2b3a48;
}
/* line 12, ../../_sass/elements/_ribbon.sass */
.section.code-of-conduct .ribbon-shadow {
  border-top-color: #03070b;
}
/* line 4, ../../_sass/sections/_code-of-conduct.sass */
.section.code-of-conduct .text {
  text-align: left;
  max-width: 900px;
  margin: auto;
  padding: 0 50px;
  line-height: 2;
}
/* line 11, ../../_sass/sections/_code-of-conduct.sass */
.section.code-of-conduct .text p {
  margin-bottom: 2em;
}
