/* line 1, ../../_sass/utils/_reset.sass */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

/* line 1, ../../_sass/utils/_typography.sass */
body {
  font-family: "open-sans";
  font-size: 18px;
}

/* line 5, ../../_sass/utils/_typography.sass */
.title {
  font-size: 4em;
  font-family: "chaparral-pro";
  color: #ab2b2b;
}

/* line 1, ../../_sass/sections/_nav.sass */
.nav {
  background-color: white;
  width: 100%;
}

/* line 1, ../../_sass/sections/_scene.sass */
.scene {
  position: relative;
  width: 110%;
  margin: -5% -5% -5% -5%;
  padding-bottom: 110%;
}
/* line 7, ../../_sass/sections/_scene.sass */
.scene .layers,
.scene .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 13, ../../_sass/sections/_scene.sass */
.scene .layers {
  z-index: -1;
}
/* line 16, ../../_sass/sections/_scene.sass */
.scene .layer {
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  overflow: hidden;
}
/* line 22, ../../_sass/sections/_scene.sass */
.scene .layer.sky {
  background-image: url(../images/sky.svg);
  background-position-y: top;
}
/* line 26, ../../_sass/sections/_scene.sass */
.scene .layer.clouds {
  background-image: url(../images/clouds.svg);
  background-position-y: 10%;
}
/* line 30, ../../_sass/sections/_scene.sass */
.scene .layer.mountains {
  background-image: url(../images/mountains.svg);
  background-position-y: 46%;
}
/* line 34, ../../_sass/sections/_scene.sass */
.scene .layer.foreground {
  background-image: url(../images/foreground.svg);
  background-position-y: 89%;
}
/* line 38, ../../_sass/sections/_scene.sass */
.scene .overlay {
  padding-top: 10%;
}
/* line 40, ../../_sass/sections/_scene.sass */
.scene .overlay .title,
.scene .overlay .subtitle {
  width: 100%;
  text-align: center;
}
