---
layout: default
speakers:
  - name: Katrina Owen
    twitter: kytrinyx
    picture_name: katrina.jpg
  - name: Erik Michaels-Ober
    twitter: sferik
    picture_name: sferik.jpg
  - name: Carlos Souza
    twitter: caike
    picture_name: caike.jpg
rubyconf:
  email: contact@rubyconf.pt
  twitter: https://twitter.com/rubyconfpt
  facebook: http://facebook.com/rubyconfpt
  cfp: https://groupbuddies.typeform.com/to/rViVZB
  reverse_cfp: https://groupbuddies.typeform.com/to/OzNJZf
  tito: https://ti.to/groupbuddies/rubyconfpt
---

{% include sections/00_nav.html %}
{% include sections/10_scene.html %}
{% include gradient.html class="red-to-white" %}
{% include sections/20_speakers.html %}
{% include gradient.html class="white-to-dark" %}
{% include sections/30_tickets.html %}
{% include gradient.html class="dark-to-white" %}
{% include sections/50_newsletter.html %}
{% include sections/55_social.html %}
{% include sections/60_footer.html %}
