---
layout: default
speakers:
  - name: Katrina Owen
    twitter: kytrinyx
    picture_name: katrina.jpg
  - name: Erik Michaels-Ober
    twitter: sferik
    picture_name: sferik.jpg
cfp_url: https://groupbuddies.typeform.com/to/rViVZB
reverse_cfp_url: https://groupbuddies.typeform.com/to/OzNJZf
---

{% include sections/00_nav.html %}
{% include sections/01_scene.html %}
{% include gradient.html class="red-to-white" %}
{% include sections/02_speakers.html %}
{% include gradient.html class="white-to-dark" %}
{% include sections/03_tickets.html %}
{% include gradient.html class="dark-to-white" %}
