---
layout: default
speakers:
  - name: Joe Ferris
    picture_name: ferris.jpg
    twitter: "@joeferris"
  - name: Katrina Owen
    picture_name: katrina.jpg
    twitter: "@kytrinyx"
  - name: This could be you!
    picture_name: knight.png
---

{% include sections/00_nav.html %}
{% include sections/01_scene.html %}
{% include gradient.html class="red-to-white" %}
{% include sections/02_speakers.html %}
{% include gradient.html class="white-to-dark" %}
{% include sections/03_venue.html %}


<!-- <section class="section blog"> -->
<!--   <h1 class="section-title"> -->
<!--     {% include title_ribbon.html title="Blog" %} -->
<!--   </h1> -->
<!-- </section> -->

<!-- <section class="section sponsorship"> -->
<!--   <h1 class="section-title"> -->
<!--     {% include title_ribbon.html title="Sponsorship" %} -->
<!--   </h1> -->
<!-- </section> -->
