---
layout: default
rubyconf:
  email: hello@rubyconf.pt
  twitter: https://twitter.com/rubyconfpt
  facebook: http://facebook.com/rubyconfpt
  cfp: https://groupbuddies.typeform.com/to/rViVZB
  reverse_cfp: https://groupbuddies.typeform.com/to/OzNJZf
  tito: https://ti.to/groupbuddies/rubyconfpt
  prospectus: http://rubyconf.pt/prospectus.pdf
  sponsor_url: mailto:hello@rubyconf.pt
hotels:
  - name: Hotel do Elevador
    stars: 4
    single: 55
    double: 65
  - name: Hotel do Templo
    stars: 4
    single: 55
    double: 65
  - name: Hotel do Lago
    stars: 3
    single: 30
    double: 40
photos:
  - url: /images/venue/showcase-1.png
  - url: /images/venue/showcase-2.png
  - url: /images/venue/showcase-3.png
links:
  hotels: grupos@hoteisbomjesus.pt
  getbus: http://www.getbus.eu/
  tub: http://www.tub.pt/

---

{% include sections/00_nav.html %}

<section id="venue-page" class="section venue-page">
  <article id="bom-jesus" class="bom-jesus">
    <h1>Bom Jesus de Braga</h1>

    <p class="text">Bom Jesus is a privileged spot in Braga, sitting on top of the mountains and surrounded by hauntingly beautiful gardens and a peaceful lake, that turn it into one of the most relaxed and <i>zen</i> places that you can find in Portugal.</p>

    <ul class="showcase">
      {% for photo in page.photos %}
        <li class="photo"><img src="{{ photo.url }}" alt="Bom jesus"></li>
      {% endfor %}
    </ul>

    <a href="#how-to-get-here" class="transparent-dark-button">How to get there?</a>
  </article>

  <article id="where-to-stay" class="where-to-stay">
    <h1>Where to stay?</h1>

    <p class="text">One of the perks of the venue is having great hotels in its surroundings. We negotiated some really special conditions with 3 of them.</p>

    <ul class="hotels">
      {% for hotel in page.hotels %}
        <li class="hotel">
          <h2 class="hotel-name">{{ hotel.name }}</h2>
          <ul class="stars">
            {% for i in (1..5) %}
              {% if i <= hotel.stars %}
              <i class="icon-star"></i>
              {% endif %}
            {% endfor %}
          </ul>
          <div class="rooms">
            <div class="single-room">
              <div class="price">{{ hotel.single }}€</div>
              <div class="sub">single</div>
            </div>
            <div class="double-room">
              <div class="price">{{ hotel.double }}€</div>
              <div class="sub">double</div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>

    <p class="text footnote">All prices are per night, per room</p>

    <p class="text">To get access to these prices, you need to mention that you're attending RubyConf and state the hotel of your choosing, the room type and your check-in and check-out dates. These special conditions apply for your whole stay, not just the days of the conference, so you can take the chance to spend some time in the country.</p>

    <p class="text">It's preferable that you book your stay by email, but you can call the hotels for more information, using the contacts below.</p>

    <ul class="contacts">
      <li><i class="icon-phone"></i>+351 913 431 123</li>
      <li><i class="icon-email"></i><a class="email" href="mailto:{{ page.links.hotels }}">{{ page.links.hotels }}</a></li>
    </ul>
  </article>


  <article id="how-to-get-here" class="how-to-get-here">
    <h1>How to get here?*</h1>

    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2985.6752146077997!2d-8.378135999999971!3d41.554629!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-PT!2spt!4v1401901090956" frameborder="0" style="border:0"></iframe>
    </div>

    <div class="directions">
      <h2>From the airport</h2>
      <p class="text">The closest airport is the OPO (Porto), 30 minutes away from Braga. You can catch a direct bus right at the airport, with a service called <a href="{{ page.links.getbus }}">Get Bus</a>.</p>

      <h2>From Braga</h2>
      <p class="text">From the city to Bom Jesus, there’s public transports leaving every 30 minutes. You can <a href="{{ page.links.tub }}">see the scheduling here</a>.</p>

      <p class="text">* We're still working out the some details about transportation, so expect more info soon.</p>
    </div>
  </article>
</section>

{% include sections/60_footer.html %}
