---
layout: default
---

{% include sections/00_nav.html %}

<section class="section what-to-do-page">
  <header>
    <h1>What to do? Where to go?</h1>

    <p>The North region of Portugal has landscapes that will blow you away, historic sites that can make you time-travel and, of course, the magnificent Port Wine. Wel couldn't cover all of the great stuff you can visity and do while you're here, as the possibilities are endless, but we defined some highlights for you to enjoy.</p>
  </header>

  <section class="region">
    <header>
      <h1 class="region-title geres">Gerês</h1>
    </header>
    <p>Gerês has some of the most breathtaking landscapes you'll ever witness in your life. You can gaze at the astonishing panoramic views from the mountains or go down to the lake and find yourself a swimming spot to dive into this little piece of paradise. There are also some great Spa resorts that add some extra confort to this natural spectacle.
  </section>

  <section class="region">
    <header>
      <img src="images/what-to-do/douro.png" />
      <h1 class="region-title">Douro</h1>
    </header>
    <p>The Douro Valley could as easily be called the enchanted valley, such is the beauty and magic that its landscapes offer.</p>
    <p> Departing from Porto, where the river flows into the sea and where the Douro wines (table wines and Port wine), produced on its hillsides, also end up, there are various ways to get to know this cultural landscape, listed as a World Heritage Site: by road, by train, on a cruise boat and even by helicopter. None will leave you indifferent.</p>
  </section>

  <section class="region">
    <header>
      <img src="images/what-to-do/guimaraes.png" />
      <h1 class="region-title">Guimarães</h1>
    </header>
    <p>Guimarães is considered the birthplace of Portugal because Afonso Henriques, who went on to become the first king of Portugal, was born here.</p>
    <p>The historical centre in the area that was within the Guimarães city walls is associated with the formation and identity of Portugal, and was classified a World Heritage site based on the originality and authenticity applied in its restoration. The city still has a harmonious, well-preserved heritage that is evident in the graceful iron verandas, granite balconies and porticos, mansions, arches connecting the narrow streets, paving slabs smoothed by time, towers and cloisters. For a moment you might imagine yourself to be in a miedaeval setting, where the nobility built their houses over time, such as the Mota Prego house, the Vila Flor and Toural palaces, and the many others that give Guimarães its unique atmosphere.</p>
  </section>

  <section class="region">
    <header>
      <img src="images/what-to-do/porto.png" />
      <h1 class="region-title">Porto</h1>
    </header>
    <p>Capital and gateway to the north of Portugal, Porto is both the city that provided a nation with a name and a fortified wine known world-wide: Port.</p>

    <p>With its splendid geographical location on the mouth of the river Douro and an architectural heritage of exceptional quality, the historic centre of Porto was declared UNESCO World Heritage of 1996. Porto is the capital of the North and the second largest city in country; its hard-working inhabitants are noted for their commercial entreprise, always standing firm against outside impositions and foreign invaders, which explains why Porto has become known as the «unvanquished» city.</p>
  </section>
</section>

{% include sections/60_footer.html %}
