<section class="scene">
  <div class="layers" id="layers" data-limit-x="10">
    <div class="layer dummy"></div>
    <div class="layer background" data-depth="0.00"></div>
    <div class="layer sky" data-depth="0.04"></div>
    <div class="layer clouds" data-depth="0.1"></div>
    <div class="layer mountains" data-depth="0.3"></div>
    <div class="layer foreground" data-depth="0.5"></div>
    <div class="layer knight" data-depth="0.5"></div>
  </div>
  <div class="overlay">
    <h1 class="main-title">The first ever RubyConf Portugal</h1>
    <h2 class="main-subtitle">A Conference surrounded by history</h2>
    <div class="date dark-square">October 13th &amp; 14th / Braga</div>
  </div>
  <script src="vendor/js/parallax.min.js" type="text/javascript"></script>
  <script src="vendor/js/jquery.parallax.min.js" type="text/javascript"></script>
</section>
