<section class="section venue">
  {% include alpha-gradient.html class="down" %}
  <div class="abs-content">
    <h1 class="section-title">
      {% include title_ribbon.html title="Venue" %}
    </h1>

    <h1 class="venue-name">Bom Jesus de Braga</h1>

    <ul class="venue-features">
      <li class="feature">Capacity 250 pax</li>
      <li class="feature">Breath-taking view</li>
      <li class="feature">Unique conditions</li>
    </ul>

    <ul class="venue-photos">
      <li class="photo"><img src="images/venue/showcase-1.png"></li>
      <li class="photo"><img src="images/venue/showcase-2.png"></li>
      <li class="photo"><img src="images/venue/showcase-3.png"></li>
    </ul>
  </div>

  {% include alpha-gradient.html class="up" %}
</section>
