<section class="section venue" id="venue">
  {% include alpha-gradient.html class="down" %}
  <div class="abs-content">
    <h1 class="section-title">
      {% include title_ribbon.html title="Venue" %}
    </h1>

    <h1 class="venue-name">Bom Jesus de Braga</h1>

    <div class="row">
      <p class="venue-summary col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 hidden-xs">The event will take place in Braga, one of the oldest portuguese cities, established in Roman times as <i>Bracara Avgvsta</i>. The venue will be <i>Bom Jesus de Braga</i>, a breathtaking place with a beautiful park and a 19th century hydraulical elevator which is one the oldest of its kind still functioning in the world.</p>
    </div>

    <a href="/venue.html" class="btn btn-primary">Location & Accomodations </a>
  </div>

  {% include alpha-gradient.html class="up" %}
</section>
