<section class="section venue" id="venue">
  {% include alpha-gradient.html class="down" %}
  <div class="abs-content">
    <h1 class="section-title">
      {% include title_ribbon.html title="Venue" %}
    </h1>

    <h1 class="venue-name">Bom Jesus de Braga</h1>

    <p class="venue-summary">The event will take place in Braga, one of the oldest portuguese cities, established in Roman times as <i>Bracara Avgvsta</i>. The venue will be <i>Bom Jesus de Braga</i>, a tourist place with a beautiful park and a 19th century hydraulical elevator which is one the oldest of its kind still functioning in the world.</p>

    <a href="/venue.html" class="red-button">Location & Accomodations </a>
  </div>

  {% include alpha-gradient.html class="up" %}
</section>
