<section class="section tickets">
  <h1 class="section-title">
    {% include title_ribbon.html title="Tickets" %}
  </h1>

  <ul class="ticket-batches">
    <li class="batch first">
      {% include ticket.html batch="1st" price="150" date="May 20th" time="12AM WEST" state="present" url=page.rubyconf.tito %}
    </li>
    <li class="batch second">
      {% include ticket.html batch="2nd" price="200" date="June 1st" state="future" %}
    </li>
    <li class="batch third">
      {% include ticket.html batch="3rd" price="250" date="June 21st" state="future" %}
    </li>
  </ul>
</section>
