<section class="section tickets">
  <h1 class="section-title">
    {% include title_ribbon.html title="Tickets" %}
  </h1>

  <!-- <p>The first batch will start selling on <strong>Tuesday, May the 20th, 12:00 WEST</strong>.</p> -->
  <!-- <p>You can show your interest <a href="https://ti.to/groupbuddies/rubyconfpt" target="_blank" class="twitter-link">here</a> or <a href="https://twitter.com/rubyconfpt" target="_blank" class="twitter-link">follow us on twitter</a> for updates</p> -->

  <ul class="ticket-batches">
    <li class="batch first">
      {% include ticket.html batch="1st" price="150" date="May the 20th" state="present" %}
    </li>
    <li class="batch second">
      {% include ticket.html batch="2nd" price="200" date="June the 1st" state="future" %}
    </li>
    <li class="batch third">
      {% include ticket.html batch="3rd" price="150" date="June the 21st" state="future" %}
    </li>
  </ul>
</section>
