<section class="section sponsors" id="sponsoring">
  <h1 class="section-title">
    {% include title_ribbon.html title="Sponsoring" %}
  </h1>

  <p>Do you want to be a part of history?</p>
  <p>Help us create the first ever RubyConf Portugal!</p>

  <ul class="sponsor-info">
    <li>
      <span class="top">around</span>
      <span class="mid">250</span>
      <span class="bottom">attendees</span>
    </li>
    <li>
      <span class="mid">3+1</span>
      <span class="bottom">Sponsorhip Levels</span>
    </li>
    <li>
      <span class="top">starting at</span>
      <span class="mid">500€</span>
      <span class="bottom">Base</span>
    </li>
  </ul>

  <ul class="sponsor-buttons">
    <li><a class="transparent-button" href="{{ page.rubyconf.prospectus }}">Download Prospectus</a></li>
    <li><a class="red-button" href="{{ page.rubyconf.sponsor_url }}">Make me a sponsor</a></li>
  </ul>

</section>
