<section class="section sponsoring" id="sponsoring">
  <h1 class="section-title">
    {% include title_ribbon.html title="Sponsoring" %}
  </h1>

  <p class="text-center">Do you want to be a part of history?</p>
  <p class="text-center">Help us create the first ever RubyConf Portugal!</p>

  <ul class="row list-unstyled sponsor-info">
    <li class="col-md-3 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-2">
      <span class="top">around</span>
      <span class="mid">250</span>
      <span class="bottom">attendees</span>
    </li>
    <li class="col-md-3 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-2">
      <span class="top">&nbsp;</span>
      <span class="mid">3+1</span>
      <span class="bottom">Sponsorship Levels</span>
    </li>
    <li class="col-md-3 col-md-offset-1 col-sm-5 col-sm-offset-4 col-xs-10 col-xs-offset-2">
      <span class="top">starting at</span>
      <span class="mid">500€</span>
      <span class="bottom">Base</span>
    </li>
  </ul>

  <ul class="list-unstyled list-inline sponsor-buttons">
    <li><a class="btn btn-info" href="{{ site.data.rubyconf.prospectus }}">Download Prospectus</a></li>
    <li><a class="btn btn-primary" href="{{ site.data.rubyconf.sponsor_url }}">Make me a sponsor</a></li>
  </ul>
</section>
