<section class="section newsletter">
  <h1 class="small-title">Want to be kept on the loop?</h1>
  <p>If you'd like to be updated with RubyConf Portugal, insert your email below.</p>

  <form action="http://rubyconf.us8.list-manage.com/subscribe/post?u=94c5a4b768054f20f78d0056a&amp;id=d1f74d03dd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletter-form" target="_blank" novalidate>
    <input type="email" value="" name="EMAIL" class="newsletter-email" id="mce-EMAIL" placeholder="Type your email here" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_94c5a4b768054f20f78d0056a_d1f74d03dd" tabindex="-1" value=""></div>
      <span class="newsletter-submit">
        <input type="submit" value="" name="subscribe" id="mc-embedded-subscribe" class="newsletter-real-submit">
      </span>
  </form>

<!--End mc_embed_signup-->
</section>
