<section class="section footer">
  <img class="footer-logo" src="images/square-logo.png">
  <div class="left">
    <h1 class="footer-title">About</h1>
    <ul class="footer-list">
      <li><a href="{{ page.cpf_url }}">Call for proposals</a></li>
      <li><a href="#speakers">Speakers</a></li>
      <!-- <li><a href="#">Blog</a></li> -->
      <!-- <li><a href="#">Code of conduct</a></li> -->
    </ul>
  </div>

  <div class="right">
    <h1 class="footer-title">Contact us</h1>
    <ul class="footer-list">
      <li>
        <a href="mailto:hi@rubyconf-pt.com">
          <img src="images/email-icon.png" alt="email">
          <span class="optional-text">hi@rubyconf-pt.com</span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/rubyconfpt">
          <img src="images/twitter-icon.png" alt="email">
          <span class="optional-text">twitter.com/rubyconfpt</span>
        </a>
      </li>
      <li>
        <a href="http://facebook.com/rubyconfpt">
          <img src="images/facebook-icon.png" alt="email">
          <span class="optional-text">facebook.com/rubyconfpt</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="bottom">
    <p>© All rights reserved. 2014</p>
  </div>
</section>
