<section class="section footer">
  <img class="footer-logo" src="images/square-logo.png">
  <div class="column about">
    <h1 class="footer-title">About</h1>
    <ul class="footer-list">
      <li><a href="{{ site.data.rubyconf.blog }}">Blog</a></li>
      <li><a href="/#speakers">Speakers</a></li>
      <li><a href="/code-of-conduct.html">Code of conduct</a></li>
    </ul>
  </div>

  <div class="column contact_us">
    <h1 class="footer-title">Contact us</h1>
    <ul class="footer-list">
      <li>
        <a href="mailto:{{ site.data.rubyconf.email }}" target="_blank">
          <img class="footer-icon" src="images/email-icon.png" alt="email">
          <span class="optional-text">{{ site.data.rubyconf.email }}</span>
        </a>
      </li>
      <li>
        <a href="{{ site.data.rubyconf.twitter }}" target="_blank">
          <img class="footer-icon" src="images/twitter-icon.png" alt="email">
          <span class="optional-text">twitter.com/rubyconfpt</span>
        </a>
      </li>
      <li>
        <a href="{{ site.data.rubyconf.facebook }}" target="_blank">
          <img class="footer-icon" src="images/facebook-icon.png" alt="email">
          <span class="optional-text">facebook.com/rubyconfpt</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="column organization">
    <h1 class="footer-title">Co-organized by</h1>
    <ul class="footer-list">
      <li>
        <a href="http://groupbuddies.com" target="_blank">Group Buddies</a>
      </li>
    </ul>
  </div>

  <div class="bottom">
    <p>© All rights reserved. 2014</p>
  </div>
</section>
