<section id="venue" class="section venue-page">
  <article id="bom-jesus" class="bom-jesus">
    <h1>Bom Jesus de Braga</h1>

    <p>Bom Jesus is a privileged spot in Braga, sitting on top of the mountains and surrounded by hantingly beatiful gardens and a peaceful lake, that turn it into one of the most relaxed and 'zen' places that you can find in Portugal.</p>

    <a href="#how-to-get-here" class="transparent-button">How to get there?</a>
  </article>

  <article id="where-to-stay" class="where-to-stay">
    <h1>Where to stay?</h1>

    <p>One of the perks of the venue is having great hotels in its surroundings. We negotiated some really special conditions with 3 of them.</p>

    <ul class="hotels">
      <li>
      </li>
      <li>
      </li>
      <li>
      </li>
    </ul>

    <p>To get access to these prices, you need to mention that you're attending RubyConf and state the hotel of your choosing, the room type and your check-in and check-out dates. These special conditions apply for your whole stay, not just the days of the conference, so you can take the chance to spend some time in the country.</p>
  </article>

  <article id="how-to-get-here" class="how-to-get-here">
    <h1>How to get here?</h1>
  </article>
</section>
