{% if include.state == "present" %}
  <a href="{{ site.data.rubyconf.tito }}">
    <div class="ticket {{ include.state }}">
      <p class="batch-name">{{ include.batch }} Batch</p>
      <p class="price">{{ include.price }}€</p>
      <p class="date">{{ include.date  }}</p>
    </div>
  </a>
  <a href="{{ site.data.rubyconf.tito }}" class="red-button ticket-button {{ include.state }}">Buy</a>
{% elsif include.state == "past" %}
  <div class="ticket {{ include.state }}">
    <p class="batch-name">{{ include.batch }} Batch</p>
    <p class="price">{{ include.price }}€</p>
    <p class="date">{{ include.date  }}</p>
  </div>
  <a class="disabled-button ticket-button {{ include.state }}">Sold Out</a>
{% else %}
  <div class="ticket {{ include.state }}">
    <p class="batch-name">{{ include.batch }} Batch</p>
    <p class="price">{{ include.price }}€</p>
    <p class="date">{{ include.date  }}</p>
  </div>
  <span class="ticket-button disabled-button {{ include.state }}">Available at {{ include.time }}</span>
{% endif %}
