#landing
  width: 110%
  margin: -5%
  position: relative
  z-index: -1
  padding-bottom: 110%

.layer
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: -5%
  height: 100%
  background-size: 100%
  background-repeat: no-repeat
  overflow: hidden

#sky
  background-image: url(/images/sky.svg)
  background-position: center top

#clouds
  background-image: url(/images/clouds.svg)
  background-position: center 5%

#mountains
  background-image: url(/images/mountains.svg)
  background-position: center 50%

#foreground
  background-image: url(/images/foreground.svg)
  background-position: center bottom



#speakers
  width: 100%
  height: 200px
  background-color: red
