.schedule-page
  @include dark-ribbon

  @media all and (max-width: #{$screen-xs-min})
    font-size: 0.8em
    padding-top: 8em

  background: url('../images/agenda-bg.png') no-repeat
  background-size: 200px 200px

  .ribbon-container
    margin-bottom: 10rem

  .schedule-title,
  .schedule-subtitle
    text-align: left

  .timeline
    margin-top: 2em

  .timeline,
  .fringe-events .column
    margin-bottom: 3em

  .agenda-title,
  .fringe-events-title
    margin-bottom: 1em

  .agenda-title
    margin-top: 2em

  .fringe-events
    .day,
    .time
      @media all and (min-width: #{$screen-xs-min})
        text-align: right
        padding-right: 2em

    text-align: left
    h4
      font-weight: bold
    .logo
      width: 100px
    .event
      margin-bottom: 3em

    .slot-time
      display: inline-block
      padding: 6px 10px
      margin: 5px 0
      font-weight: bold
      font-size: 0.8em
      color: $white
      background-color: $light-blue

.underline
  text-decoration: underline
