.section.sponsors
  @include yellow-ribbon

  .sponsors-list
    margin-bottom: 50px

  .sponsors-title
    margin-top: 100px

  .sponsors-title-gold
    color: $gold

  .sponsors-title-silver
    color: $silver

