body
  font-family: $base-font
  font-size: $base-size

.title
  font-size: $title-size
  font-family: $title-font
  color: $title-color

.section-title
  font-size: $title-size
  font-family: $title-font
  max-width: 50%
  margin: auto
