body
  font-family: $base-font
  font-size: $base-size

.main-title
  font-size: $main-title-size
  font-family: $title-font
  color: $main-title-color
  font-weight: bold
  @media all and (max-width: #{$small-width})
    font-size: $main-title-size-small

.main-subtitle
  font-size: $main-subtitle-size
  color: $sub-title-color
  text-align: center
  @media all and (max-width: #{$small-width})
    display: none

.section-title
  font-size: $section-title-size
  font-family: $title-font
  color: $dark-blue
  max-width: 60%
  margin: auto
  @media all and (min-width: #{$small-width})
    max-width: 450px

.small-title
  font-size: $small-title-size
  font-family: $title-font
  color: $dark-blue
  margin: auto

.footer-title
  font-size: $footer-title-size
  font-family: $title-font
  color: $dark-blue

.speaker-name
  font-family: $title-font
  font-weight: normal
  font-size: 30px

.speaker-twitter
  font-family: $title-font
  color: $light-blue
  font-size: 22px

.twitter-link
  color: $light-blue
  &:hover
    text-decoration: underline

.text
  text-align: left
  max-width: 960px
  margin: auto
  padding: 0 50px
  line-height: 2

  p
    margin-bottom: 2em

.bio-title
  font-family: $title-font
  color: $light-blue
  font-weight: bold

.schedule-title
  font-family: $title-font
  font-size: $main-title-size
  font-weight: bold
  color: $speaker-blue

.schedule-subtitle
  font-family: $title-font
  font-size: $main-title-size-small
  font-weight: normal

.related-events-subtitle
  padding: 10px 15px
  background-color: $speaker-blue
  color: $white
  display: inline-block

.agenda-title,
.related-events-title
  text-align: center
  font-family: $title-font
  font-size: $main-title-size
  font-weight: bold

.agenda-title
  color: $dark-red

.related-events-title
  color: $speaker-blue

.region-title
  font-family: $title-font
  color: $white
  font-size: 6em
  text-shadow: 0px 0px 5px $dark-blue
