$base-font: "open-sans"
$title-font: "chaparral-pro"

// colors
$white: #FFFFFF
$light-red: #CB5757
$dark-red: #AB2B2B
$dark-grey: #2B3A48
$light-grey: #BDC9D4
$grey: #CCCCCC
$light-blue: #33CCFF
$blue: #384C5E
$dark-blue: #2B3A48

// semantic colors
$main-title-color: $light-red
$sub-title-color: $dark-blue
$text-color: $dark-blue

$light-ribbon-text: $dark-blue
$light-ribbon-front: $white
$light-ribbon-back: #E2E2E2
$light-ribbon-shadow: #CCCCCC

$dark-ribbon-text: $white
$dark-ribbon-front: $blue
$dark-ribbon-back: $dark-blue
$dark-ribbon-shadow: #03070B

$red-ribbon-text: $white
$red-ribbon-front: $dark-red
$red-ribbon-back: $light-red
$red-ribbon-shadow: mix($red-ribbon-front, $red-ribbon-back)

$red-bg: $dark-red
$blue-bg: $dark-blue

// sizes
$base-size: 16px
$main-title-size: 4em
$section-title-size: 2.5em
$date-size: 1.5em
