$base-font: "open-sans"
$title-font: "chaparral-pro"

// colors
$red: #CB5757
$dark-grey: #2B3A48
$light-grey: #BDC9D4

// semantic colors
$title-color: $red

// sizes
$base-size: 18px
$title-size: 4em
