.speaker-small,
.speaker-large
  .speaker-picture-container
    background-image: url(../images/speaker-picture-frame.svg)
    background-size: 100% 100%
    padding: 40px
    text-align: center

  .speaker-picture
    width: 250px
    &:not([src*='knight.png'])
      height: 250px
    &[src*='knight.png']
      padding-top: 25px
      background-color: $white

  .speaker-name
    color: $speaker-blue

.speaker-small
  .speaker-name-frame
    width: 300px
    height: 120px
    margin: auto
    margin-top: 1rem
    text-align: center
    background-image: url(../images/speaker-name-frame.svg)
    background-size: 100% 100%
    padding: 2rem 1rem

  .speaker-name,
  .speaker-twitter
    line-height: 30px


.speaker-large
  text-align: left
  max-width: 1160px
  margin: auto
  padding-top: 4em
  margin-bottom: 6em

  .speaker-info
    width: 400px
  .talk-info
    max-width: 660px

  @media all and (min-width: #{$small-width})
    .speaker-info,
    .talk-info
      display: inline-block
      vertical-align: top
    .talk-info
      width: calc(100% - 500px)

  .speaker-name-container
    margin: 1em 3.5em
    white-space: nowrap

  .speaker-name
    font-size: 40px

  .speaker-countries
    list-style-type: none
    li
      display: inline-block
    li + li
      margin-left: 0.5em
    img
      max-width: 40px

  .speaker-website
    text-decoration: underline

  .speaker-twitter,
  .speaker-website,
  .speaker-countries
    margin: 0.5em 0

  .talk-info.markdown
    margin-left: 2em
    margin-top: 1em
    h1
      @extend .bio-title
      margin-bottom: 0.5em
    h1:not(:first-child)
      margin-top: 2em
    p
      color: $dark-blue
      margin-bottom: 0.5em
