.section.footer
  padding-top: 0
  padding-bottom: 0.5em
  margin-top: 4rem
  background-color: $greyish-blue
  text-align: left

  .footer-logo
    position: absolute
    margin: auto
    margin-left: calc(50% - 60px)
    margin-top: -60px
    border-radius: 50%
    width: 120px

  .column
    vertical-align: top
    line-height: 2em
    width: 40%
    margin: auto
    padding-top: 4em

  .column
    display: inline-block
    width: 27%
    min-width: 300px
    margin-left: 6%

  @media all and (max-width: #{$small-width})
    .contact_us
      li
        display: inline-block
    .optional-text
      display: none

  .footer-list
    list-style-type: none
    font-size: $footer-items-size
    a
      color: $white
      white-space: nowrap
      text-decoration: none
      &:hover
        text-decoration: underline
  .footer-icon
    height: 25px
    vertical-align: middle
    padding-right: 0.5em

  .bottom
    text-align: center
    margin-top: 2rem
    font-size: $copyright-size
