.nav
  font-size: $nav-buttons-size
  background-color: white
  width: 100%

  .left-nav,
  .right-nav
    display: inline-block
    width: 47%
    vertical-align: middle

  .left-nav
    margin-left: 2%

  .right-nav
    text-align: right
    .red-button
      margin-right: 1rem

  .logo,
  .nav-action
    max-width: 200px
    vertical-align: middle

  .logo
    padding: 1em 0

  @media all and (max-width: #{$small-width})
    .left-nav
      margin: 0
      width: 100%
      text-align: center
    .right-nav
      display: none
