.speakers
  @extend %white-section

  .speaker-list
    margin-bottom: 3rem

  .speaker
    display: inline-block
    vertical-align: top
    margin: 2rem
    margin-bottom: 5rem

    &.you,
    &.placeholder
      .speaker-name
        line-height: 55px

  @media all and (max-width: #{$small-width})
    .speaker
      margin: 0
      @include scale(0.8)
