.section.tickets
  @include yellow-ribbon
  .ticket-batches
    .batch
      display: inline-block
      vertical-align: top
      margin: 3rem

  .ticket
    margin-bottom: 2rem

  .ticket-button
    margin-top: 2rem
    min-width: 60%
