.what-to-do-page
  > header
    margin-botom: 5em

  .region
    margin-bottom: 10em
    header
      img,
      .region-title
        width: 100%
        color: $white
      .region-title.geres
        background-image: url(../images/what-to-do/geres.png)
        background-size: cover
      .region-title:before
        content: ""
        display: block
        padding-bottom: 55.55%

    p
      text-align: left
      max-width: 960px
      margin: auto
      margin-bottom: 1.5em
      padding: 0 1em
